

body{
           
	background-image: 
url(https://thumbs.gfycat.com/SoupyShimmeringCoqui-max-1mb.gif),		
		
		radial-gradient(
              rgba(150, 255, 0, .90),
              rgba(0, 255, 200, 0.75)),

url('https://i.ebayimg.com/images/g/DQ8AAOSwIzpdPbd-/s-l500.jpg');
  	width: 50%;
  height: 250px;
  text-align: center;
 }
